<h1>Share Necessities connects volunteers to the physical needs of human services non-profits via wishlists.</h1>

<h2>I am... a volunteer, and I want to help.</h2>
<h2><%= link_to "I am... an organizer, and I want to add my organization.", new_organization_path %></h2>
