@import 'foundation_and_overrides';

// Helpers

.top-margin {
  margin-top: 3em;
}

.bottom-margin {
  margin-bottom: 2em;
}

.margins {
  margin: 1.5em;
}

// Nav
.title-area li h1 a {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;

  i {
    font-size: 1.4em;
    vertical-align: -5%;
  }
}

.top-bar-section ul li a {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}

// Landing page

.headline-box {
  padding: 12% 25% 5%;

  h1 {
    color: #FFE056;
    font-size: 3em;
    text-shadow: 2px 2px #033E58;
  }
}

.homepage-container {
  background-image: image-url('coffee.jpg');
  background-position: center center;
  background-size: cover;
  margin-top: -3px;
  min-height: 100%;

  .i-am {
    font-size: 6em;
    color: #033E58;
    background-color: transparent;
    margin-bottom: 1%;
    text-shadow: 2px 2px $share-yellow;
  }

  h2 {
    font-family: 'Oswald', sans-serif;
    background-color: #033E58;
    opacity: 0.9;
    text-align: center;
    border-radius: 2em;
    margin-bottom: 5%;

    a {
      color: #FFEFA5;
    }
    
    a:hover {
      color: #fff;
    }
  }
}


@media (min-width: 500px) and (max-width: 1000px){
  .headline-box {
    padding: 20% 25% 8%;

    h1 {
      font-size: 2.2em;
    }
  }

  .homepage-container {
    min-height: 98%;

    .i-am {
      font-size: 5em;
    }

    h2 {
      font-size: 1.8em;
      margin-bottom: 5%;
    }
  }
}

@media (max-width: 499px){
  .title-area li h1 a {
    font-size: 1em;

    i {
      font-size: 1.6em;
      vertical-align: -3%;
    }
  }

  ul .right {
    float: none !important;
  }

  .headline-box {
    padding: 38% 12% 15%;

    h1 {
      font-size: 2em;
    }
  }

  .homepage-container {

    .i-am {
      font-size: 4em;
    }

    h2 {
      font-size: 1.6em;
      border-radius: 10px;
      padding: 10px;
    }
  }
}

// Organization details page

img {
  max-width: none;
  margin: 2em;
}

.got-it {
  border-left: 1px solid #000000;
}

.got-it form, form div {
  display: inline !important;
}

.organizer-info {
  margin: 2em 2em 0;
}

.wishlist {
  margin-top: 1.5em;
}


.external-link {
  font-size: 1.2em;
  text-align: center;
  margin-left: 2em;
}

// Organization index

.org-row:nth-child(even) {
  background-color: $snow;
}

.org-row:nth-child(odd) {
  background-color: $smoke;
}

.pagination {
  margin-top: 1em;
}

.org-listing {
  margin-top: 2.5em;
}

.org-name {
  color: $share-dark-blue;
  font-size: 1.8em;
}

.org-photo {
  max-width: 200px;
  border: 5px solid $share-dark-blue;
  padding: 2px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.org-header {
  background-image: image-url("kitchen");
  background-position: center center;
  background-size: cover;
  margin-top: -5px;
  min-height: 25em;
  min-width: 100%;

  h1 {
    font-size: 6em;
    color: $share-yellow;
    text-shadow: 4px 2px #033E58;
    padding: 2em 2em 0;
    text-align: center;
  }
}

@media (max-width: 850px){
  .org-name {
    text-align: center;
  }

  .org-header{

    h1 {
      font-size: 4em;
      padding: 2em 0.5em 0;
    }
  }
}

// My Items

.my-items-header {
  background-image: image-url("veggies");
  background-position: center center;
  background-size: cover;
  margin-top: -5px;
  min-height: 25em;
  min-width: 100%;

  h1 {
    font-size: 6em;
    color: $share-yellow;
    text-shadow: 4px 2px #033E58;
    padding: 2em 2em 0;
    text-align: center;
  }
}

@media (max-width: 850px){
  .my-items-header{

    h1 {
      font-size: 4em;
      padding: 2em 0.5em 0;
    }
  }
}

.org-items-header {
  background-image: image-url("jackets");
  background-position: center center;
  background-size: cover;
  margin-top: -5px;
  min-height: 25em;
  min-width: 100%;

  h1 {
    font-size: 5em;
    color: $share-yellow;
    text-shadow: 4px 2px #033E58;
    padding: 2em 2em 0;
    text-align: center;
  }
}

@media (max-width: 850px){
  .org-items-header{

    h1 {
      font-size: 3em;
      padding: 2em 0.5em 0;
    }
  }
}


