@import 'foundation_and_overrides';

// Helpers

.top-margin {
  margin-top: 3em;
}

.bottom-margin {
  margin-bottom: 2em;
}

.margins {
  margin: 1.5em;
}

.big-margins {
  margin: 3em;
}

.left {
  float: left;
}

// Nav
.title-area li h1 a {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;

  i {
    font-size: 1.4em;
    vertical-align: -5%;
  }
}

.top-bar-section ul li a {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
}

@media (max-width: 750px) {

  .title-area li h1 a {
    font-size: 1.2em;

    i {
      font-size: 1em;
    }
  }
}

// Landing page

.headline-box {
  padding: 30% 25% 5%;

  h1 {
    color: #FFE056;
    font-size: 3em;
    text-shadow: 2px 2px $share-dark-blue;
  }
}

.homepage-container {
  background-image: image-url('coffee.jpg');
  background-position: center center;
  background-size: cover;
  margin-top: -3px;
  min-height: 1400px;

  .i-am {
    background-color: transparent;
    color: $share-dark-blue;
    font-size: 6em;
    margin-bottom: 1%;
    text-shadow: 2px 2px $share-yellow;
  }

  h2 {
    background-color: $share-dark-blue;
    border-radius: 2em;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 25%;
    opacity: 0.9;
    text-align: center;

    a {
      color: #FFEFA5;
    }
    
    a:hover {
      color: #fff;
    }
  }
}

// @media (min-height: 1200px) and (max-height: 1299px) {

//   .headline-box {
//     padding: 25% 25% 8%;
//   }
// }

// @media (min-height: 1300px) and (max-height: 1399px) {

//   .headline-box {
//     padding: 30% 25% 8%;
//   }
// }

// @media (min-height: 1400px) {

//   .headline-box {
//     padding: 35% 30% 8%;
//   }
// }


@media (min-width: 500px) and (max-width: 1000px){
  .headline-box {
    padding: 30% 25% 8%;

    h1 {
      font-size: 2.2em;
    }
  }

  .homepage-container {
    min-height: 1400px;

    .i-am {
      font-size: 5em;
    }

    h2 {
      font-size: 1.8em;
      margin-bottom: 5%;
    }
  }
}

@media (max-width: 499px){
  .title-area li h1 a {
    font-size: 1em;

    i {
      font-size: 1.6em;
      vertical-align: -3%;
    }
  }

  ul .right {
    float: none !important;
  }

  .headline-box {
    padding: 40% 12% 15%;

    h1 {
      font-size: 2em;
    }
  }

  .homepage-container {

    .i-am {
      font-size: 4em;
    }

    h2 {
      border-radius: 10px;
      font-size: 1.3em;
      padding: 10px;
    }
  }
}

// Organization details page

img {
  margin: 2em;
  max-width: none;
}

.got-it {
  border-left: 1px solid #000000;
}

.got-it form, form div {
  display: inline !important;
}

.organizer-info {
  margin: 2em 2em 0;
}

.wishlist {
  margin-top: 1.5em;
}


.external-link {
  font-size: 1.2em;
  margin-left: 2em;
  text-align: center;
}

// Organization index

.org-search {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#q {
  // background-color: scale-color($share-dark-blue, $lightness: 25%);
  // color: $ghost;
  height: 45px;
}

.exit {
  color: $share-yellow;
  // text-shadow: 2px 2px 2px $white;
  vertical-align: middle;
  background-color: $share-dark-blue;
  margin-left: 0.5em;
  // opacity: 0.8;
}

.org-row:nth-child(even) {
  background-color: $snow;
}

.org-row:nth-child(odd) {
  background-color: $smoke;
}

.pagination {
  margin-top: 1em;
}

.org-listing {
  margin-top: 2.5em;
}

.org-name {
  color: $share-dark-blue;
  font-size: 1.8em;
}

.org-photo {
  border: 5px solid $share-dark-blue;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  padding: 2px;
  text-align: center;
}

.org-header {
  background-image: image-url("kitchen");
  background-position: center center;
  background-size: cover;
  margin-top: -5px;
  min-height: 25em;
  min-width: 100%;

  h1 {
    color: $share-yellow;
    font-size: 6em;
    padding: 1.5em 2em 0;
    text-align: center;
    text-shadow: 4px 2px $share-dark-blue;
  }

  h2 {
    background-color: $share-dark-blue;
    border-radius: 50px;
    color: $ghost;
    margin: 0 35%;
    text-align: center;
  }
}

@media (max-width: 850px){
  .org-name {
    font-size: 1.5em;
    text-align: center;
  }

  .org-header{

    h1 {
      font-size: 3.5em;
      padding: 2em 0.5em 0;
    }
  }
}

// Org details

@media (min-width: 500px) and (max-width: 815px) {

  #org-details-photo img {
    max-width: 250px;
    margin-left: 1em;
  }
}

@media (max-width: 499px){

  #org-details-photo img {
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}


// My Items

.my-items-header {
  background-image: image-url("veggies");
  background-position: center center;
  background-size: cover;
  margin-top: -5px;
  min-height: 25em;
  min-width: 100%;

  h1 {
    color: $share-yellow;
    font-size: 6em;
    padding: 2em 2em 0;
    text-align: center;
    text-shadow: 4px 2px $share-dark-blue;
  }
}

@media (max-width: 850px){
  .my-items-header {

    h1 {
      font-size: 4em;
      padding: 2em 0.5em 0;
    }
  }
}

.org-items-header {
  background-image: image-url("jackets");
  background-position: center center;
  background-size: cover;
  margin-top: -5px;
  min-height: 25em;
  min-width: 100%;

  h1 {
    color: $share-yellow;
    font-size: 5em;
    padding: 2em 2em 0;
    text-align: center;
    text-shadow: 4px 2px $share-dark-blue;
  }
}

@media (max-width: 850px){
  .org-items-header {

    h1 {
      font-size: 3em;
      padding: 2em 0.5em 0;
    }
  }
}

// Footer

.footer {
  clear: both;
  background-color: $share-dark-blue;
  color: $white;

  p {
    font-size: 1.2em;
  }

  i {
    font-size: 2em;
    color: $white;
    text-align: center;
  }
}


