<div class="row">
  <p>Enter an email address and click submit to invite another organizer to your organization. They will have the ability to edit your organization's information and wishlists once they accept the emailed invitation and create their account.</p>

<%= render 'devise/invitations/form' %>

</div>

