<div class="row">
  <h1>Edit <%= @organization.name %>'s Information and Settings</h1>

  <%= render partial: "form", locals: {organization: @organization} %>

  <h2>Invite Organizers</h2>

  <%= render 'invite_form' %>
</div>