<div class="row">
  <div class="small-12 medium-8 medium-offset-2 margins columns">

    <h1>Edit <%= @organization.name %>'s Information and Settings</h1>

    <%= render partial: "form", locals: {organization: @organization} %>

    <a name="invite"><h2>Invite Organizers</h2></a>

    <%= render 'invite_form' %>
  </div>
</div>