<div class="row">
  <div class="small-12 medium-8 medium-offset-2 margins columns">
  <h1>Add Your Organization</h1>
    <%= render partial: "form", locals: {organization: @organization} %>
  </div>
</div>