<footer>
  <div class="small-12 columns footer">
    <p class="text-center top-margin">This breakable toy brought to you by <%= link_to "MLG", "http://www.melissaleighgore.com" %>.</p>
    <p class="text-center"><%= link_to "<i class=\"fa fa-github fa-2x\"></i>".html_safe, "http://www.github.com/mlg-" %>&nbsp;&nbsp;<%= link_to "<i class=\"fa fa-linkedin fa-2x\"></i>".html_safe, "http://www.linkedin.com/in/melissaleighgore" %></p>
    </div>
  </div>
</footer>